*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}
@import url(./AboutUs.css);
@import url(./Blog.css);
@import url(./Home.css);
@import url(./LogIn.css);
@import url(./Pricing.css);
@import url(./SignUp.css);
